[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
uvicorn = "*"
fastapi = "*"
dotenv = "*"
pydantic-settings = "*"
asyncpg = "*"
jwt = "*"
pyjwt = "*"
pydantic = "*"
python-dotenv = "*"
pwdlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.14"
